/*! Подключения шрифтов */
@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/** Стили для главной страницы */
body{
    background: #222222;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    color: #ffffff;
    font-weight: 700;
    margin: 0;
}

p{
    color: #ffffff;
    font-size: 16px;
    margin: 0;
}

a{
    text-decoration: none;
    color: #ffffff;
}
ul li{
    list-style: none;
}
/*! Общая обертка для всего контента 
  /*?  max-width: 1400px - максимальная ширина контента
  /*?  margin: 0 auto - центрируем контент  */
.container {
    max-width: 1400px;
    margin: 0 auto;
}

/*! Стили шапки  */
.header {
    /*? Отступы от верхнего края */
    padding: 25px 0;
    background: #222222;
}

 /*! Обертка для контента Header*/
.header .container {
    /*? Задаем дисплей флекс модель для того что бы элементы распологались в ряд */ 
    /*?  justify-content: space-between - распологаем элементы по краям */
    /*?  align-items: center - выравниваем элементы по центру */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*! Стили для логотипа 
  /*?  width: 50px - ширина логотипа
  /*?  height: 50px - высота логотипа  */
.header__logo {
    width: 50px;
    height: 50px;

}
/*! Стили для навигации (пока не используется) */
/* .header__nav {
    
} */
/*! Стили для элементов списка 
  /*?  display: flex - распологаем элементы в ряд
  /*?  gap: 30px - расстояние между элементами  */
.header__list {
    display: flex;
    gap: 30px;
}
/*! Стили для ссылки с классом header__btn 
  /*?  font-weight: 700 - жирный шрифт
  /*?  background: #009b95 - цвет фона
  /*?  border-radius: 10px - скругление углов
  /*?  padding: 10px - отступы
  /*?  transition: all 0.3s ease - плавное изменение цвета при наведении */
.btn {
    font-weight: 700;
    background: #009b95;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease;
    color: #ffffff;
}
/*! Стили для псевдокласса :hover
  /*?  transform: scale(1.1) - увеличиваем элемент на 10%
  /*?  opacity: 0.7 - делаем прозрачность элемента на 30%  */
.btn:hover{
    transform: scale(1.1);
    opacity: 0.7;
}


/** Секция приветствие */


.cards-choise .container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 25px 0;
}

.cards-choise__item {
    width: 100%;
    overflow: hidden;
    background: #000000;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    padding-bottom: 40px;
}


.cards-choise__text {
    text-align: center;
    padding: 0 25px;
}

.cards-choise__title {
    font-size: 19px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.cards-choise__paragraph {
    opacity: 0.8;
    padding-bottom: 40px;
}

.cards-choise__image {
    width: 100%;
    height: 235px;
    object-fit: cover;
}

.cards-choise .btn{
    display: flex;
    width: 16%;
    text-align: center;
    margin: 0 auto;
}


/** Секция действия */


.action .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.action__img {
    max-width: 700px;
}

.action__item{
    background: #000000;
    border-radius: 10px;
    
    padding: 20px;
    margin-right: 80px;
}

.action__text {
    max-width: 430px;
    text-align: center;
}

.action__title {
    font-size: 30px;

}

.action__paragraph {
    font-size: 20px;
    padding: 15px 20px;
    opacity: 0.7;
}

.action .btn{
    display: flex;
    width: 16%;
    text-align: center;
    margin: 0 auto;
}

/** Секция карточек аcсортимента  */





.cards-assortment .container {

}

.cards-assortment__item {
    position: relative;
    width: 600px;
    height: 300px;
    /*? Делаю картинку по размеру каточки */
    background-size: cover;
    background-repeat: no-repeat;

}

/* .cards-assortment__image {

} */

.cards-assortment__text {
    position: absolute;
    margin: 40px 10px 40px 320px;
    padding: 20px 10px;
    width: 250px;
    /*border: 2px solid ;*/
    /*Размытие заднего фона*/
    backdrop-filter: brightness(50%) blur(2px);

    border-radius: 50px;
    text-align: center;

}

.cards-assortment__title {
    font-size: 20px;
    color: #fff;

}

.cards-assortment__paragraph {
    font-size: 16px;
    padding: 20px 0;
    color: #fff;
}

.cards-assortment .btn {
    display: flex;
    width: 50%;
    margin: 0 auto;

}
.cards-wood{
    background-image: url('images/assortment/brus.jpg');
}
.cards-hiteck{
    background-image: url('images/assortment/hi-tek-v2.jpg');
}
.cards-bunya{
    background-image: url('images/assortment/banya.jpg');
}
.cards-uchastok{
    background-image: url('images/assortment/uchastok-v2.jpg');
}
