@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}
/** Общие стили */
body{
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
    line-height: 1.5;
;
    background-color: #1c1c1c;
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-weight: 600;
}

/*& Стили шапки  */
.header {
    
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 50px;
    height: 50px;

}
.headeh__nav {
    
}
.header__list {
    display: flex;
    gap: 30px;
}
.btn {

}